<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yan.basedemo">
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".application.BaseDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAty">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.yanzi.com"
                    android:pathPrefix="/gizmos" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".aty.DialogExampleAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.animation.LottieAnimationAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.MultiDownloadAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.StatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.NormalStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.FullStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.ImgNormalStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.ImgFullStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.SlideStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.SlideImgStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.MultiStatusBarAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.LoginAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.bar.StretchableAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.bar.SearchAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.bar.MoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.UploadAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.ObserverSimpleAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.database.GreenDaoAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".aty.ScanSimpleAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".aty.ThreadCommunicationAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden|adjustPan" />


    </application>

</manifest>